{% extends "layout.html" %}
{% block content %} 
      <table class="table table table-striped table-hover">
        <thead class="text-center">
          <tr class="table-dark">
            <th scope="col">Nome</th>
            <th scope="col">Tipo</th>
            <th scope="col">Dimensão</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
        {% for location in locations %}
          <tr class="text-center">
            <td>{{location.name}}</td>
            <td>{{location.type}}</td>
            <td>{{location.dimension}}</td>
            <td>
              <a href="/location/{{location.id}}"
                class="btn btn-link btn-sm">Ver mais</a>
            </td>
          </tr>
        </tbody>
        {% endfor %}
      </table>
        {% endblock %}
